
$fuente-prim: Gorditas;
$fuente-secu: Indie Flower;
$color-fondo: #e9f4f6;
$color-primario: #007bff;
$color-primario-hover: #0056b3;
$color-footernav: rgb(111, 169, 228);
$color-texto: #ffffff;
$color-borde: #ccc;
$radio-borde: 5px;
$tamaño-fuente: 16px;
$transicion: 0.3s;