$fuente-primaria: Arial, sans-serif;
$fuente-secundaria: "sevillana", cursive;
$color-fondo: #e0f7fa;
$color-primario: #007bff;
$color-primario-hover: #0056b3;
$color-fondo-secundario: #343a40;
$color-texto: #ffffff;
$color-borde: #ccc;
$radio-borde: 5px;
$tamaño-fuente: 16px;
$transicion: 0.3s;